*
!docs
!docs/*.png
!cluster.yaml
!schemas
!schemas/*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake* !Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.gitattributes
!.editorconfig
!config.schema.json
!protocol
!protocol/*
!workflow
!workflow/*


# required for testing
!.test
!.test/input/
!.test/input/plink
!.test/input/plink/*
!.test/input/vcf
!.test/input/vcf/*
!.travis.yml
