*
!cluster.yaml
!example
!example/*
!example/dags
!example/dags/*
!example/plink/
!example/plink/*
!example/vcf/
!example/vcf/*
!schemas
!schemas/*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake* !Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!config.schema.json
!protocol
!protocol/*
!workflow
!workflow/*
